
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #000000;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height:1.6em;
            font-size:14px;    
        }


        table,
        th,
        td {
            border: 1px solid black;
        }

        h1,
        h2,
        h3,
        h4 { 
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }

        .wrapper {
            width:1200px;
            margin: 0 auto;
        }

        header {
            height:200px;
            background: #A47C4B;
            padding-top:20px;
            color:#fff;
        }

        .content .wrapper {
            background: #fff;
            margin-top:-100px;
            padding:40px;
            box-sizing:border-box;

            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

        }

        .overzichtBanen {
            display:block;
            position:relative;
        }

        .overzichtBanen .baanRij {
            display:flex;

        }

        .overzichtBanen .baanRij .baanLabel {
            flex:200px 0 0;
            display:block;
            position:relative;
            background-color: rgba(164, 124, 75, 0.2);
            border-bottom:1px solid red;
            border-right:1px solid red;
            padding: 12px 0px 12px 6px;
        
        }

        .overzichtBanen .baanRij .baanBeschikbaarheid {
            display:flex;
            flex:100% 1 1;  

        }

        .overzichtBanen .baanRij .baanBeschikbaarheid {
            flex:100% 1 1;
            position: relative;
        }

        .tijdSlot {
            display: flex;
            flex:100% 1 1;
            position: relative;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            justify-content: center;
            padding: 7px;
        }

        .baanSlot {
            display: flex;
            flex:100% 1 1;
            position: relative;
            justify-content: center;
            border:1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }

        .dateButton {
            border-radius: 5px;
            margin: 7px;
            padding: 10px;
            cursor: pointer;
            font-size: 1.12em;
            border: 1px solid  rgba(0, 0, 0, 0.1);
        }

        .dateButton:hover {
            background-color: lightblue;
        }

        .dateButton.disabled {
            color:#fff;
            background-color:#A47C4B;
            /* border: 1px solid  rgba(0, 0, 0, 1); */
            cursor: default;
        }