@import "partials/reset";

/* Standaard kleuren en typografie */
$color-primary: #0066CC;

$color-bezet: #e74c3c;
$color-gereserveerd: #3498db;
$color-vrij: #27ae60;

$color-background: #F5F6FA;
$font-default: Arial, Helvetica, sans-serif;
$font-header: 'Montserrat', sans-serif;

/* Kleuren en typografie inladen vanuit project scss */
@import "partials/project";


@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin dropShadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

@mixin animateEase($seconds) {
  -webkit-transition: all $seconds ease;
  -moz-transition: all $seconds ease;
  transition: all $seconds ease;
}

$animationTime: 200ms;

body {
    font-family: $font-default;
    color: #000000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height:1.6em;
    font-size:14px;    
    background: $color-background;
}


table,
th,
td {
    border: 1px solid black;
}

h1,
h2,
h3,
h4 { 
    font-family: $font-header;
    font-weight: bold;
    line-height:1.6em;
    margin-bottom:16px;
}

h1 {
    font-size:24px;
    color: $color-primary;
}

h2 {
    font-size:16px;
}

p {
    margin-bottom:20px;
}

strong,
b {
    font-weight: bold;
}


.wrapper {

    width:100%;
    padding:0 20px;

    @include for-desktop-up() {
        width:1200px;
        margin: 0 auto;
        padding:unset;
    }
}

header {
    min-height:80px;
    background: #ffffff;
    padding:20px 0;
    box-sizing:border-box;
    margin-bottom:40px;

    @include dropShadow();

    .wrapper {
        padding:0;
    }


    .logo {

        font-size:20px;

        @include for-desktop-up() {
            font-size:24px;
        }

        font-family: $font-header;
        line-height:1.6em;
    }

    .systeemNaam,
    .systeemBedrijfsnaam {
        display:inline-block;
        font-weight: bold;
    }

    .systeemNaam {
        font-weight: normal;
    }
    
    .systeemBedrijfsnaam {
        color: $color-primary;
    }
    
    .headerrow {
        padding: 0 40px;
        width: 100%;
        box-sizing:border-box;

        display:block;

        @include for-desktop-up() {
            display:flex;
        }


        .logo,
        nav {
            flex:50% 0 0;
        }

        nav {
            text-align:right;
            font-family: $font-header;
            font-weight: bold;

            a {
                color: #000;
                display:inline-block;
                text-align:center;
                text-decoration: none;
                padding:10px;

                &.actief,
                &:hover {
                    color: $color-primary;
                }
            }
        }

    }

}

.content {
    .wrapper {
        background: #fff;
        // margin-top:-100px;
        padding:40px;
        box-sizing:border-box;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
}

.overzichtBanen {
    display:block;
    position:relative;

    .baanRij {
        display:block;
        border:1px solid rgba(#000, 0.2);
        margin-bottom:20px;

        @include for-desktop-up() {
            display:flex;
            border:unset;
            border-bottom:1px solid rgba($color-primary, 0.4);
            margin-bottom: unset;
        }

        .baanLabel {

            flex:200px 0 0;
            display:block;
            position:relative;
            padding: 12px 0px 12px 6px;

            @include for-desktop-up() {
                border-right:1px solid rgba($color-primary, 1);
            }

        }

        .baanBeschikbaarheid {

            display:block;
            @include for-desktop-up() {
                display:flex;
                flex:100% 1 1;
            }
            position: relative;

            .baanSlot {
                display:flex;
                flex:100% 1 1;
                position: relative;     
                justify-content: center;
                align-items: center;
                font-weight: bold;
                flex-direction: column;

                @include for-desktop-up() {
                    flex-direction: row;
                    border-right:1px solid rgba($color-primary, 0.6);
                }

                form {
                    height:100%;

                    input {
                        height:50px;

                    }
                }

                &.baanSlotBezet {            
                    height:50px;

                    @include for-desktop-up() {
                        height:unset;
                    }

                    cursor: not-allowed;
                    background: repeating-linear-gradient( -45deg,
                    rgba($color-bezet, 0.1),
                    rgba($color-bezet, 0.1) 10px,
                    rgba($color-bezet, 0.2) 10px,
                    rgba($color-bezet, 0.2) 20px
                    );

                    color: $color-bezet;
                }

                &.baanSlotGereserveerd {
                    cursor: not-allowed;
                    background: repeating-linear-gradient( -45deg,
                    rgba($color-gereserveerd, 0.1),
                    rgba($color-gereserveerd, 0.1) 10px,
                    rgba($color-gereserveerd, 0.2) 10px,
                    rgba($color-gereserveerd, 0.2) 20px
                    );
                    color: $color-gereserveerd;

                }

                .tijdSlotMobiel {
                    display:block;

                    @include for-desktop-up() {
                        display:none;
                    }
                }


            }
        
        }

        &.baanRijHeader {
            display:none;
            
            @include for-desktop-up() {
                display:flex;
            }

            font-weight: bold;
            background-color: rgba($color-primary, 0.3);   
            line-height:40px;
        }

        @include for-desktop-up() {
            &:nth-child(2n) {
                background:rgba($color-primary, 0.05);
            }
        }
        // &:hover {
        //     background:rgba($color-primary, 0.5);
        //     .baanLabel {
        //         font-weight:bold;
        //     }
        // }

    }
}

.dateSelector {

    display:block;

    border:2px solid $color-primary;
    color: $color-primary;
    border-radius:5px;
    padding:10px;
    font-weight: bold;
    text-decoration: none;
    margin-right:10px;
    margin-bottom:10px;

    @include animateEase($animationTime);

    @include for-desktop-up() {
        display: inline-block;
    }

    .icon {
        display:inline-block;
        margin-right:10px;
    }

    &.active,
    &:hover {
        background: $color-primary;
        color:#fff;
    }


}

.reserveerButton {
    -webkit-appearance: none;
    -moz-appearance: none;

    display:inline-block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: rgba($color-vrij, 0.6);
    color:#fff;
    border:none;
    margin:5px;
    font-weight:bold;
    font-size:14px;
    border-radius:5px;
    cursor:pointer;
 
    @include animateEase($animationTime);

    &:hover {
        background: rgba($color-vrij, 1);

    }

}

.dateButton {
    border-radius: 5px;
    margin: 7px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.12em;
    border: 1px solid  rgba(0, 0, 0, 0.1);
}

.dateButton:hover {
    background-color: lightblue;
}

.dateButton.disabled {
    color:#fff;
    background-color:#A47C4B;
    cursor: default;
}


.reservering {

    display:flex;
    border-bottom:1px solid red;
    padding:20px;
    margin-bottom:20px;
    border:1px solid rgba(#000, 0.2);
    border-radius:5px;

    flex-direction: column;

    .reserveringInhoud,
    .reserveringActies {
        flex:100% 1 1;
    }

    .reserveringInhoud {
        margin-bottom:20px;
    }


    @include for-desktop-up() {
        flex-direction: row;

        .reserveringActies {
            flex:300px 1 1;
        }

        .reserveringInhoud {
            margin-bottom: unset;
        }
    }




    h2 {
        color: #000000;
        margin-bottom:10px;
    }

    img {
        width:20px;
        margin-right:10px;
    }

    .reserveringDetails {
        display:flex;
        margin-bottom:10px;

        .rdTijd,
        .rdBaan {
            flex:100% 1 1;
            line-height:20px;
        }

    }

    .reserveringOpmerking {
        background: rgba($color-bezet, 0.1);
        color: $color-bezet;
        padding:10px;
        border-radius:4px;

    }

}

.reserveringlabel {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}



form {
    position: relative;
    width: 100%;

    label {
        display:block;
    }

    input[type=text],
    input[type=password] {
        -webkit-appearance: none;
        display:block;
        border-radius:5px;
        padding:0 5px;
        line-height:30px;
        border:1px solid rgba(0,0,0,0.4);
        margin-bottom:10px;
        width:300px;
    
        
    }

    button.inloggen {
    // input[type=submit] {
        display:inline-block;
        -webkit-appearance: none;
        
        font-family: $font-default;
        font-weight:bold;
        font-size:12px;
        border:none;

        background: $color-primary;
        color: #fff;
        border-radius:5px;
        padding:0 30px;
        line-height:30px;

        cursor: pointer;


    }
}