<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eemschutters Reserveringssysteem</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Eemschutters reserveringssysteem</h1>
    <p>Het is momenteel {{ view_date }}</p>
    <p>Dit is het reserveringsysteem van de eemschutters. Kies hieronder een baan en tijdstip om te selecteren</p>
    <br>
    <p>Reserveren voor: {{ gekozen_schietdag_datum | date:"l j b Y" }}</p>
    {% if not eerste %}
    <a href="{% url 'reserveringen' %}?next={{prev_offset}}">vorige schietdag</a>
    {% endif %}
    {% if not laatste %}
    <a href="{% url 'reserveringen' %}?next={{next_offset}}">volgende schietdag</a>
    {% endif %}

    <table style="width:100%;">
        <tr>
            {% for baan in banen  %}
            <th>{{baan}}</th>
            {% endfor %}
        </tr>
        {% for bslot, eslot in slots  %}
        <tr>
            {% for baan in banen  %}
            <td>
                <p>van: {{bslot}}</p>
                <p>tot: {{eslot}}</p>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>