{% load static %}
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eemschutters Reserveringssysteem</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'reserveringen/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function() {

            $(".trigger").on("click", function() {
                $(".panelMobile").slideToggle();
            });
        });

    </script>
</head>

<body>

    <header>
        
        <div {% if request.resolver_match.url_name != "overzicht" %} class="wrapper" {% else %} class="wrapper wide" {% endif %}>    
            <div class="headerrow">
                <div class="logo">
                    <div class="systeemNaam">Reserveringssysteem</div>
                    <div class="systeemBedrijfsnaam">Eemschutters</div>
                </div>
                {% if user.is_authenticated %}
                <nav class="menuDesktop">
                    <a href="{% url 'reserveringen' %}" {% if request.resolver_match.url_name == "reserveringen" %}class="actief"{% endif %}>Reserveren</a>
                    <a href="{% url 'mijn_reserveringen' %}" {% if request.resolver_match.url_name == "mijn_reserveringen" %}class="actief"{% endif %}>Mijn reserveringen</a>
                    {% if sleutelhouder %}
                    <a href="{% url 'overzicht' %}" {% if request.resolver_match.url_name == "overzicht" %}class="actief"{% endif %}>Overzicht</a>
                    {% endif %}
                </nav>    
                <div class="user">
                    <div class="usermenu">
                        <a href="{% url 'wachtwoord_wijzigen'%}">Wachtwoord wijzigen</a>
                        <a href="{% url 'logout' %}" {% if request.resolver_match.url_name == "logout" %}class="actief"{% endif %}>Log uit</a>
                    </div>
                    <div class="userdetails">
                        <span class="username">{{ user.username | title }}</span>
                    </div>
                </div>
                <div class="trigger"><img src="{% static 'reserveringen/menu-bars.svg' %}" alt="Menu"/></div>
                {% endif %}
            </div>
            <div class="panelMobile">
                {% if user.is_authenticated %}
                <nav class="menuMobile">
                    <a href="{% url 'reserveringen' %}" {% if request.resolver_match.url_name == "reserveringen" %}class="actief"{% endif %}>Reserveren</a>
                    <a href="{% url 'mijn_reserveringen' %}" {% if request.resolver_match.url_name == "mijn_reserveringen" %}class="actief"{% endif %}>Mijn reserveringen</a>
                    {% if sleutelhouder %}
                    <a href="{% url 'overzicht' %}" {% if request.resolver_match.url_name == "overzicht" %}class="actief"{% endif %}>Overzicht</a>
                    {% endif %}
                    <a href="{% url 'wachtwoord_wijzigen'%}">Wachtwoord wijzigen</a>
                    <a href="{% url 'logout' %}" {% if request.resolver_match.url_name == "logout" %}class="actief"{% endif %}>Log uit</a>
                </nav>    
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
<script type="text/javascript">

    function disableButton(form)
    {
      form.reserveerButton.disabled = true;
      form.reserveerButton.value = "Bezig.."
    }
  
</script>
</html>