{% extends 'reserveringen/base.html' %}
{% load static %}


{% block content %}

<h1>Mijn reserveringen</h1>
<p>Hier zijn jouw geplande reserveringen:</p>
    {% for reservering in reserveringen %}
    <div class='reservering'>
        <div class="reserveringInhoud">
            <h2>Reservering {{ reservering.start | date }}</h2>
            <div class="reserveringDetails">
                <div class="rdTijd">
                    <img src="{% static 'reserveringen/clock.svg' %}" alt="clock" /><span>{{ reservering.start | time }} - {{ reservering.eind | time }}</span>
                </div>
                <div class="rdBaan">
                    <img src="{% static 'reserveringen/map-sign.svg' %}" alt="clock" /><span>{{reservering.baan }}</span>
                </div>
            </div>
            <div class="reserveringOpmerking">
                Kom aan na <strong>{{ reservering.aankomst | time }}</strong> en vertrek voor <strong>{{ reservering.vertrek | time }}</strong>
            </div>  
        </div>
        <div class="reserveringActies">
            Annuleer
        </div>
    </div>
    {% endfor %}
{% endblock %}