{% extends 'reserveringen/base.html' %}
{% load static %}


{% block content %}
<div class="content">
    <div class="wrapper">
        <h1>Mijn reserveringen</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}_message">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if reserveringen_per_week %}

        <p>Hier zijn jouw reserveringen van de komende weken:</p>
        {% for week, reserveringen in reserveringen_per_week.items %}
        <h3>Week vanaf {{week | date}}</h3>
        {% for reservering in reserveringen %}
        <div class='reservering'>
            <div class='reserveringContainer'>
                <div class="reserveringInhoud">
                    <h2>Reservering {{ reservering.start | date }}</h2>
                    <div class="reserveringDetails">
                        <div class="rdTijd">
                            <img src="{% static 'reserveringen/clock.svg' %}"
                                alt="clock" /><span>{{ reservering.start | time }} uur - {{ reservering.eind | time }}
                                uur</span>
                        </div>
                        <div class="rdBaan">
                            <img src="{% static 'reserveringen/map-sign.svg' %}"
                                alt="location" /><span>{{ reservering.baan }}</span>
                        </div>
                    </div>
                </div>
                <div class="reserveringActies">
                    {% if not reservering.verlopen %}
                    <form method="post" action="{% url 'verwijder_reserveringen' %}"
                        onsubmit="return confirm('Weet je zeker dat je deze reservering wilt annuleren?');">
                        {% csrf_token %}
                        <input type="hidden" name='reservering_id' value='{{reservering.id}}'>
                        <input type="submit" value="Annuleer" class="annuleer" />
                    </form>
                    {% else %}
                    <input type="submit" value="Verlopen" class="verlopen" />
                    {% endif %}

                </div>
            </div>
            {% if not reservering.verlopen %}
            <div class="reserveringOpmerking">
                Kom aan na <strong>{{ reservering.aankomst | time }} uur</strong> en vertrek voor
                <strong>{{ reservering.vertrek | time }} uur</strong>
            </div>
            {% if reservering.eerste_slot %}
            <div class="reserveringWaarschuwing">
                Dit is het eerste slot van de avond; je wordt geacht mee te helpen met baanopbouw
            </div>
            {% endif %}
            {% if reservering.laatste_slot %}
            <div class="reserveringWaarschuwing">
                Dit is het laatste slot van de avond; je wordt geacht mee te helpen met baanafbouw
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
        {% else %}
        <p>Je hebt nog geen reserveringen</p>
        {% endif %}
    </div>
</div>
{% endblock %}