{% extends 'reserveringen/base.html' %}
{% load static %}


{% block content %}

<h1>Voor wanneer wil je reserveren?</h1>

{% for datum, schietdag in schietdagen %}
{% if forloop.counter0 == choice %}
<button class="dateButton disabled">&#128197;{{ datum | date:"l j b Y" }}</button>
{% else %}
<a href="{% url 'reserveringen' %}?next={{ forloop.counter0 }}"><button
        class="dateButton">&#128197;{{ datum | date:"l j b Y" }}</button></a>
{% endif %}
{% endfor %}

<h3>Welke baan, wil je hoelaat reserveren op {{ gekozen_schietdag_datum | date:"l j b Y" }}?</h3>

<div class="overzichtBanen">
    <div class="baanRij">
        <div class="baanlabel"></div>
        <div class="baanBeschikbaarheid">
            {% for slot_start, slot_eind in slot_tijden  %}
            <div class="tijdSlot">
                <div>
                    <strong>
                        {{slot_start}} - {{slot_eind}}
                    </strong>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {% for baan, slots in slots_per_baan.items  %}
    <div class="baanRij">
        <div class="baanLabel">
            <strong>{{baan}}</strong><br />
        </div>
        <div class="baanBeschikbaarheid">
            {% for slot in slots  %}
            <div class="baanSlot">

                {% if slot.status == 'Vrij'%}
                <div>
                    <form action="{% url 'reserveringen' %}" method="post">
                        {% csrf_token %}
                        {{ slot.form }}
                        <button class="dateButton" type="submit">Reserveer</button>
                    </form>
                </div>
                {% else %}
                <div>
                    <button class="dateButton disabled">Bezet</button>
                    </form>
                </div>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}